In [324]:
import pandas as pd
import os
# import matplotlib.pyplot as plt

In [325]:
pd.set_option('display.max_columns', None)    # Хотим видеть все признаки / колонки в выводах
os.chdir('/Users/keyreeltian/Documents/GitHub/mips2022_ds_ktian/HW_2')    # здесь наши csv-файлы

In [326]:
# dataset_fragment = 500_000 # Определим такое число записей, которое возьмем из файла train
dataset_fragment = 700_000    
# dataset_fragment = 101_230_332   # Столько записей всего в train 
head_tail_slice = 500    # Сравнительный статистический анализ проведем 
# между выборками из "чемпионов" и "аутсайдеров"

In [327]:
# Создадим 2 версии датасета - полную и укороченную
# Для интенсивных вычислений будем использовать укороченную
tdf_full = pd.read_csv('data/train.csv')
tdf = tdf_full.loc[:dataset_fragment].copy()

In [328]:
# Посмотрим параметры датасета train
tdf_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB

In [329]:
# Проверяем tdf на пустые значения и видим, что колонки prior_question_elapsed_time и
# prior_question_had_explanation содержат пустые значения
tdf_full.isna().mean()

row_id                            0.000000
timestamp                         0.000000
user_id                           0.000000
content_id                        0.000000
content_type_id                   0.000000
task_container_id                 0.000000
user_answer                       0.000000
answered_correctly                0.000000
prior_question_elapsed_time       0.023230
prior_question_had_explanation    0.003877
dtype: float64

In [330]:
# Создадим множество, содержащее список уникальных идентификаторов студентов
users = set(tdf.user_id)

In [331]:
new_df = pd.DataFrame({'user_id': [],
                       'lectures_attended': [],
                       'correct_answers': [],
                       'incorrect_answers': [],
                       'correct_answers_rate': [],
                       'prior_question_had_explanation': [],
                       'car_pqhe_index': [] # Это разница между средней оценкой, когда
                       # были разъяснения на предыдущий блок вопросов (prior_question_had_explanation)
                       # и средней, когда разъяснений не было.
                       # Данный индекс проверяет предполагаемую связь важности иметь такие разъяснения,
                       # которые оказывают положительное влияние на усвоение знаний и будущие ответы
                      })

for u in users:
    new_row = {}

    # добавляем в список user_id
    new_row['user_id'] = int(u)
    
    # добавляем в список кол-во посещений лекций (можно было сделать по признаку content_type_id == 1)
    new_row['lectures_attended'] = tdf[(tdf.user_id == u) & (tdf.answered_correctly == -1)].shape[0]
    
    # добавляем в список кол-во правильных ответов
    correct = tdf[(tdf.user_id == u) & (tdf.answered_correctly == 1)].shape[0]
    new_row['correct_answers'] = correct
    
    # добавляем в список кол-во неправильных ответов
    incorrect = tdf[(tdf.user_id == u) & (tdf.answered_correctly == 0)].shape[0]
    new_row['incorrect_answers'] = incorrect
    
    # добавляем в список долю правильных ответов к общему кол-ву вопросов
    new_row['correct_answers_rate'] = (correct / (correct + incorrect))
    
    # добавляем в список кол-во правильных ответов с разъяснениями (для предыдущего блока вопросов)
    new_row['prior_question_had_explanation'] = round(tdf[(tdf.user_id == u) & \
                                                (tdf.prior_question_had_explanation == True)].shape[0], 2)
    
    # добавляем индекс car_pqhe_index
    new_row['car_pqhe_index'] = tdf[(tdf.user_id == u) & \
                                    (tdf.prior_question_had_explanation == True)].answered_correctly.mean() - \
            tdf[(tdf.user_id == u) & (tdf.prior_question_had_explanation == False)].answered_correctly.mean()
    
    # добавляем новую строку в наш создаваемый для анализа датасет new_df
    new_df_row = pd.DataFrame(new_row, index=[u])
    new_df = pd.concat([new_df, new_df_row], ignore_index=False)

In [332]:
# узнаем размер нашего датасета (кол-во студентов)
new_df.shape[0]

2638

In [333]:
# Отсортируем наш новый датасет по колонке correct_answers и визуальный анализ сразу 
# покажет корреляцию между кол-вом посещенных лекций, разъяснений на предыдущий вопрос теста и доли 
# правильных ответов от общего количества тестов
new_df = new_df.sort_values(by='correct_answers', ascending=False)
new_df.head()

,user_id,lectures_attended,correct_answers,incorrect_answers,correct_answers_rate,prior_question_had_explanation,car_pqhe_index
1283420,1283420.0,93.0,6196.0,1280.0,0.828785,7465.0,1.693415
4421282,4421282.0,2.0,5271.0,1689.0,0.757328,6929.0,0.352157
3838215,3838215.0,123.0,5120.0,1643.0,0.757060,6419.0,0.520523
11610328,11610328.0,13.0,5055.0,1485.0,0.772936,6527.0,1.093709
9418512,9418512.0,221.0,4421.0,2840.0,0.608869,7118.0,1.018419

In [334]:
new_df.tail()

,user_id,lectures_attended,correct_answers,incorrect_answers,correct_answers_rate,prior_question_had_explanation,car_pqhe_index
11814782,11814782.0,0.0,1.0,10.0,0.090909,0.0,NaN
2148001,2148001.0,0.0,1.0,1.0,0.500000,0.0,NaN
13052084,13052084.0,0.0,1.0,11.0,0.083333,4.0,0.25
6581221,6581221.0,0.0,1.0,11.0,0.083333,0.0,NaN
1360462,1360462.0,0.0,0.0,7.0,0.000000,0.0,NaN

In [335]:
# Давайте вычислим средний correct_answers_rate для первых head_tail_slice студентов
new_df.sort_values(by='correct_answers_rate', ascending=False).head(head_tail_slice).correct_answers_rate.mean()

0.7549589764993941

In [336]:
# ... и последних head_tail_slice студентов и сравним результаты
new_df.sort_values(by='correct_answers_rate', ascending=False).tail(head_tail_slice).correct_answers_rate.mean()
# как видим, разница показателя более, чем в 2 раза

0.2869350440628738

In [337]:
# Давайте вычислим среднее кол-во посещений лекций для первых head_tail_slice студентов
new_df.head(head_tail_slice).lectures_attended.mean()

24.41

In [338]:
# ... и последних head_tail_slice студентов в нашем отсортированном датасете
new_df.tail(head_tail_slice).lectures_attended.mean()
# ... очевидно, что уровень посещяемости лекций заметно коррелирует с кол-вом правильных ответов у студентов

0.044

In [339]:
# проведем такие же наблюдения для признака prior_question_had_explanation относительно общего кол-ва вопросов
round(new_df.head(head_tail_slice).prior_question_had_explanation.mean() / \
(new_df.head(head_tail_slice).correct_answers.count() + new_df.head(head_tail_slice).incorrect_answers.count()), 3)

1.086

In [341]:
round(new_df.tail(head_tail_slice).prior_question_had_explanation.mean() / \
(new_df.tail(head_tail_slice).correct_answers.count() + new_df.tail(head_tail_slice).incorrect_answers.count()), 3)
# наш ТОР студентов здорово пополняет знания за счет продуктивного опыта прохождения тестов и получая
# и закрепляя знания, изучая разъяснения к ответам на вопросы

0.004

In [342]:
# проведем такие же наблюдения для признака car_pqhe_index
round(new_df.head(head_tail_slice).car_pqhe_index.mean(), 2)

0.76

In [343]:
round(new_df.tail(head_tail_slice).car_pqhe_index.mean(), 2)
# видим, что индекс для первых head_tail_slice студентов выше, чем у последних, что может 
# объясняться вкладом разъяснений на вопросы в усвоение материала студентами

0.05

In [344]:
# Здесь посмотрим вклад посещений лекций в правильные ответы на вопросы

# new_df[new_df.lectures_attended > 300].correct_answers_rate.mean()
round(new_df[new_df.lectures_attended > 0].correct_answers_rate.mean(), 2)
# изменяя кол-во песещенных лекций (lectures_attended > 0) можно заметить, 
# что показатель колеблется в районе 0.6

0.61

In [345]:
round(new_df[new_df.lectures_attended == 0].correct_answers_rate.mean(), 2)
# и для lectures_attended == 0 мы понимаем, что вклад посещений лекций находится в 
# районе 0.10 пунктов (около 20%), что показывает нам сравнительно небольшой эффект на способности 
# студентов правильно отвечать на вопросы, посещая лекции

0.51

In [346]:
new_df.head()

,user_id,lectures_attended,correct_answers,incorrect_answers,correct_answers_rate,prior_question_had_explanation,car_pqhe_index
1283420,1283420.0,93.0,6196.0,1280.0,0.828785,7465.0,1.693415
4421282,4421282.0,2.0,5271.0,1689.0,0.757328,6929.0,0.352157
3838215,3838215.0,123.0,5120.0,1643.0,0.757060,6419.0,0.520523
11610328,11610328.0,13.0,5055.0,1485.0,0.772936,6527.0,1.093709
9418512,9418512.0,221.0,4421.0,2840.0,0.608869,7118.0,1.018419

In [348]:
# В этой секции проверим возможную (но не доказуемую) связь признака tags в questions датасете и tag в lectures

In [349]:
ldf = pd.read_csv('data/lectures.csv')
qdf = pd.read_csv('data/questions.csv')

In [350]:
# уберем единственную строчку в questions датасете, где в ячейке tags пустое значение
new_qdf = qdf[qdf.tags.notna()].copy()

In [351]:
new_qdf['tags_list'] = new_qdf.tags.apply(lambda x: [int(tags_list) for tags_list in x.split()])

In [352]:
# Посмотрим, что из себя представляют данные признака tags в датасете questions
qdf_tags_set = set(new_qdf.tags_list.sum())
min(qdf_tags_set), max(qdf_tags_set), len(qdf_tags_set)    # диапазон значений и кол-во уникальных

(0, 187, 188)

In [353]:
# Проверим lectures на наличие пустых значений 
ldf.isna().mean()

lecture_id    0.0
tag           0.0
part          0.0
type_of       0.0
dtype: float64

In [354]:
# Посмотрим, что из себя представляют данные признака tag в датасете lectures

new_ldf = ldf.copy()
ldf_tag_set = set(new_ldf.tag)
min(ldf_tag_set), max(ldf_tag_set), len(ldf_tag_set)    # диапазон значений и кол-во уникальных

# В итоге видим, что ряды значений в tags и tag похожи и могут иметь связь между собой. 
# Т.к. в задании доп. информации по этим признакам нет, то большей инф-ции об этих признаках у нас не будет

(0, 187, 151)

In [355]:
tdf_full.content_id.describe()

count    1.012303e+08
mean     5.219605e+03
std      3.866359e+03
min      0.000000e+00
25%      2.063000e+03
50%      5.026000e+03
75%      7.425000e+03
max      3.273600e+04
Name: content_id, dtype: float64

In [356]:
qdf.bundle_id.describe()

count    13523.000000
mean      6760.510907
std       3903.857783
min          0.000000
25%       3379.500000
50%       6761.000000
75%      10140.000000
max      13522.000000
Name: bundle_id, dtype: float64

In [357]:
ldf.part.describe()

count    418.000000
mean       4.267943
std        1.872424
min        1.000000
25%        2.000000
50%        5.000000
75%        6.000000
max        7.000000
Name: part, dtype: float64

In [358]:
tdf_full.content_id.nunique()

13782

In [359]:
tdf_full.content_id.describe()

count    1.012303e+08
mean     5.219605e+03
std      3.866359e+03
min      0.000000e+00
25%      2.063000e+03
50%      5.026000e+03
75%      7.425000e+03
max      3.273600e+04
Name: content_id, dtype: float64

In [360]:
ldf.lecture_id.describe()

count      418.000000
mean     16983.401914
std       9426.164660
min         89.000000
25%       9026.250000
50%      17161.500000
75%      24906.250000
max      32736.000000
Name: lecture_id, dtype: float64

In [361]:
# Заметим, что lecture_id в lecture имеет такое же макс значение, что и content_id в train
# Попробуем выделить множества значений

In [362]:
lecture_ids = set(new_ldf.lecture_id)
len(lecture_ids)

418

In [363]:
t_content_ids = set(tdf_full.content_id)
len(t_content_ids)

# Но t_content_ids содержит в себе намного больше id, чем lecture_ids

13782

In [364]:
# Найдем пересечение двух множеств
len(t_content_ids.intersection(lecture_ids))

417

In [365]:
# Как можно заметить, 417 id из 418 встречаются в обоих множествах
# Найдем id, который есть в lecture_ids и его нет в t_content_ids
lecture_ids.difference(t_content_ids)

{28098}

In [366]:
# Перепроверим, что content_id = 28098 не встречается в train
tdf_full[tdf_full.content_id == 28098]
# Наблюдение: т.е. мы нашли лекцию, которую не посетил ни один студент из нашего датасета train

Empty DataFrame
Columns: [row_id, timestamp, user_id, content_id, content_type_id, task_container_id, user_answer, answered_correctly, prior_question_elapsed_time, prior_question_had_explanation]
Index: []

In [367]:
# Проанализиурем question_id в датасете questions
question_ids = set(qdf.question_id)

In [368]:
len(question_ids)

13523

In [369]:
len(t_content_ids.intersection(question_ids))

13523

In [370]:
len(lecture_ids.intersection(question_ids))

158

In [371]:
# Можно заметить, что 13523 + 417 - 158 = 13782, а это содержимое нашего t_content_ids
# Т.е. content_id в датасете train состоит из идентификаторов лекций и вопросов
# 158 идентификаторов совпадают в лекциях и вопросах (lectures & questions)

In [372]:
# Посмотрим, как выглядят записи для одного из 158 id
lecture_ids_sorted = list(lecture_ids.intersection(question_ids))
lecture_ids_sorted.sort()

In [373]:
tdf_full[tdf_full.content_id == lecture_ids_sorted[0]]    # возьмем 1й элемент
# и обратим внимание, что, действительно, записи лекций (user_answer = -1) идут вперемешку с вопросами

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
2210,2210,2932227530,24418,89,1,323,-1,-1,NaN,False
4727,4727,6899759173,24418,89,0,2259,1,1,27333.0,True
16462,16462,7845691644,141455,89,1,1415,-1,-1,NaN,False
24543,24543,18154584339,408250,89,0,373,1,1,21000.0,True
28200,28200,328259589,508795,89,0,22,0,0,13000.0,True
...,...,...,...,...,...,...,...,...,...,...
101216615,101216615,9035474736,2147083529,89,1,462,-1,-1,NaN,False
101217447,101217447,5774172818,2147143229,89,1,445,-1,-1,NaN,False
101225176,101225176,1473482129,2147413636,89,1,612,-1,-1,NaN,False
101226772,101226772,4753510931,2147413636,89,0,1789,1,1,23000.0,True
101229171,101229171,2300304011,2147470770,89,1,168,-1,-1,NaN,False

In [376]:
# Теперь проанализируем вопросы, на которые не смогли ответить "чемпионы"

In [388]:
# Возьмем первые 100 студентов, которые показали лучший correct_answers_rate и ответили 
# на более 500 вопросов
df = new_df.sort_values(by='correct_answers_rate', ascending=False, ignore_index=True)
df = df[df.correct_answers > 500]
df.user_id = pd.to_numeric(df.user_id, downcast="integer")
df.head()

,user_id,lectures_attended,correct_answers,incorrect_answers,correct_answers_rate,prior_question_had_explanation,car_pqhe_index
14,13475643,7.0,766.0,105.0,0.879449,859.0,0.768982
28,11938837,14.0,1219.0,211.0,0.852448,1367.0,0.505746
31,9199721,7.0,1199.0,212.0,0.849752,1380.0,0.419017
32,3228511,11.0,799.0,144.0,0.847296,894.0,0.518959
33,4222121,83.0,1176.0,212.0,0.847262,1379.0,1.717298

In [389]:
top_users = list(df.user_id)

In [402]:
# Найдем искомый список вопросов и ранжируем его по повторяемости. Выведем, скажем, топ-100
tdf_full[(tdf_full.user_id.isin(top_users) & (tdf_full.answered_correctly == 0))].content_id.value_counts().head(100)

3878    187
4120    149
6116    146
6173    144
738     143
       ...
5624     82
5335     82
4467     82
5348     81
58       81
Name: content_id, Length: 100, dtype: int64

In [ ]:
# ... такой анализ (выше) можно использовать для понимания недостаточно хорошо раскрытых тем и слабых мест 
# в материалах или методике обучения

In [403]:
qdf.part.describe()

count    13523.000000
mean         4.264956
std          1.652553
min          1.000000
25%          3.000000
50%          5.000000
75%          5.000000
max          7.000000
Name: part, dtype: float64

In [404]:
ldf.part.describe()

count    418.000000
mean       4.267943
std        1.872424
min        1.000000
25%        2.000000
50%        5.000000
75%        6.000000
max        7.000000
Name: part, dtype: float64

In [418]:
# Здесь осваиваю функцию groupby и смотрю, что с ее помощью смогу полезного увидеть в 
# датасетах questions & lectures
qdf_grp = qdf.groupby('part')
qdf_df = qdf_grp.get_group(6)
qdf_df
qdf_df[qdf_df.bundle_id == 11627]

       question_id  bundle_id  correct_answer  part tags
11627        11627      11627               1     6    1
11628        11628      11627               2     6  179
11629        11629      11627               0     6  115
11630        11630      11627               1     6   27

In [427]:
ldf_grp = ldf.groupby('part')
ldf_df = ldf_grp.get_group(6)
ldf_df[ldf_df.tag == 115]
# ldf_df
# ldf.groupby('part').groups

     lecture_id  tag  part  type_of
394       31108  115     6  concept

In [ ]:
# в датасетах lectures & questions (с применением groupby) более ничего полезного не вижу